/* === Media Queries как в Bootstrap === */

/* Средние устройства (планшеты, ширина >= 768px) */
@media (min-width: 501px) {
    .card-orientation {
        aspect-ratio: 16/10;
    }
}

@media (max-width: 500px) {
    .card-orientation {
        aspect-ratio: 1/1;
    }
}

@media (prefers-color-scheme: dark) {
    .header-transparent {
        background: hsla(210, 11%, 15%,.95)
    }
}

@media (prefers-color-scheme: light) {
    .header-transparent {
        background: hsla(0, 0%, 100%, 0.95)
    }
}

.cursor-secondary:hover {
    cursor: pointer;
    background-color: var(--bs-secondary-bg) !important;
}

.hide-scrollbar {
    scrollbar-width: none;
    /* Для Firefox */
    -ms-overflow-style: none;
    /* Для IE и Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Для Chrome, Safari и Opera */
}